body {
    font-size: 25px;

}

/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
} */

.choice-container {
    background-size:contain;
    display: flex;
    align-items: center;
    align-content: center;
    margin-bottom: 30px;
    width: 100%;
    border-radius: 5px;
    background: rgb(255, 143, 160);
    font-size: 20px;
    min-width: 20rem;
    max-height: fit-content;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow:0 0.4rem 1.4rem 0 rgb(255, 143, 160, 0, 5);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: rgb(0, 0, 0);

}

.choice-text {
    padding: 0.5rem;
    width: 100%;

}

.questionImage {
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
    display: block;

}

.correct {
    background: linear-gradient(32deg, green, 0%, green, 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgb(255, 53, 53), 0%, rgb(255, 53, 53), 100%);
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;

}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(255, 143, 160);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(255, 143, 160);
    width: 0%;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width:auto;
        padding: 1rem;
        font-size: 15px;
    }
    
}